body {
    user-select: none;
}

.content-profile {
    margin-top: 0px;
}

.circle {
	border-radius: 50%;
    /*max-height: 70%;
    max-width: 25%;
    max-height: 7vh;
    max-width: 7vh;
    margin-top: 0.6vh;
    */
    max-width: 50px;
    max-height: 50px;
    top: 7px;
    position: relative;
}

.post-content {
    padding: 5px;
    border-radius: 0 0 2px 2px;
}

.post-interactions {
    border-top: 1px solid rgba(160,160,160,0.2);
    position: relative;
}

.post-seeComments {
    border-top: 1px solid rgba(160,160,160,0.2);
}

.post-seeComment {
    margin-bottom: 2px;
}

.post-username {
    color: black;
    margin-left: 3px;
    font-weight: 500;
}

.comment-username {
    color: black;
    font-weight: 500;
}

.comment-load {
    text-align: center;
    background-color: gainsboro;
    margin-bottom: 2px;
}

.color-black {
    color: black;
}

.post-text {
    padding-left: 10px;
    padding-right: 10px;
}

.post-createdAt {
    font-size: 0.8rem !important;
    position: absolute;
    right: 8px;
    bottom: 7px;
}

.card {
    margin: .5rem 0 0 0 !important;
    width: 100%;
}
.circle-post {
	border-radius: 50%;
    /*max-height: 70%;
    max-width: 25%;
    max-height: 7vh;
    max-width: 7vh;
    margin-top: 0.6vh;
    */
    vertical-align: middle;
    max-width: 35px;
    max-height: 35px;
    position: relative;
}

.post-like {
    font-size: 1.4rem !important;
    color: black;
    vertical-align: bottom;
}

.post-likescounter {
    font-size: 0.9rem !important;
    border-right: 2px solid rgba(160,160,160,0.2);
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.page-forcomments {
    max-height: calc(100% - 110px);
    max-width: 100%;
    width: 100%;
    position: absolute;
    overflow-y: auto;
    padding-bottom: 10px;
}

.post-comments {
    font-size: 0.9rem !important;
    border-right: 2px solid rgba(160,160,160,0.2);
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
}

.post-more {
    right: 13px;
    top: 11px;
    position: absolute;
}

.circle-mobile {
	border-radius: 50%;
	/*max-height: 70%;
	max-width: 100%;
	max-height: 7vh;
    max-width: 10vh;
	vertical-align: middle;*/
    top: 5px;
    position: relative;
    max-height: 45px;
    max-width: 100px;
}

.sidenav-photo {
	width: 100%;
}

.no-padding {
    padding: 0px;
    display: flex;
    width: 100%;
    height: 100%;
}

.profile-content {
    position: relative;
}

.profile-cover {
    width: 100%;
    max-width: 500px;
    /*left: 0px;
    position: absolute;*/
}

.profile-picturearea {
    bottom: 20px;
    left: 20px;
    position: absolute;
}

.profile-info {
    bottom: 8px;
    left: 114px;
    position: absolute;
    font-weight: 500;
}

#follow {
    vertical-align: bottom;
}

#edit {
    vertical-align: bottom;
}

.profile-follow {
    position: absolute;
    background-color: white;
    right: 3px;
    bottom: 3px;
    padding: 0px 4px 0px 4px;
    border-radius: 10%;
    border: black 1px solid;
}

.profile-edit {
    position: absolute;
    background-color: white;
    right: 3px;
    bottom: 3px;
    padding: 0px 4px 0px 4px;
    border-radius: 10%;
    border: black 1px solid;
}

.profile-picture {
    /*max-height: 70%;
    max-width: 25%;
    margin-top: 1.2%;
    max-height: 12vh;
    max-width: 20vh;
    max-height: 70px;
    max-width: 25%;*/
    border-radius: 50%;
    max-width: 85px;
}

.profile-editpicture {
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -6%;
    right: -6%;
    padding: 4px;
    border: 2px solid;
}

.profile-username {
    left: 93px;
    top: 10px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
}

.sidenav-circle {
	border-radius: 50%;
    /*max-height: 70%;
    max-width: 25%;
    margin-top: 1.2%;
    max-height: 12vh;
    max-width: 20vh;*/
    max-height: 70px;
    max-width: 70px;
    top: 60px;
    left: 20px;
    position: fixed;
}

.content-create {
    margin-top: 0px;
}

.hidden {
    visibility: hidden;
}

.avatar {
    min-height: 57px !important;
    padding-left: 72px;
    position: relative;
}

.likeslist-content {
    padding: 0px !important;
}

.row {
    margin-bottom: 0px !important;
}

.feed {
    margin-top: 10px;
    margin-bottom: 50px;
}

#counter {
    position: absolute;
    bottom: 11px;
    right: 11px;
    font-size: 0.9rem;
}

.comments-input {
    position: fixed;
    bottom: -17px;
    max-height: 250px;
    background-color: white;
    border-top: 1px solid rgb(158, 158, 158);
}

.fade-in {
    opacity: 1;
    visibility: visible;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

.fade-out {
    opacity: 0;
    visibility: hidden;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
        opacity: 0;
        visibility: visible;
    }
	100% {
        opacity: 1;
        visibility: visible;
	}
}

@keyframes fadeOutOpacity {
	0% {
        opacity: 1;
        visibility: visible;
    }
    99% {
        opacity: 0;
        visibility: visible;
	}
	100% {
        opacity: 0;
        visibility: hidden;
	}
}

.highlight {
    background-color: rgb(255 255 255);
	animation-name: highlightA;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.7s;
}

@keyframes highlightA {
    0% {
        background-color: rgb(255 255 255);
    }
    50% {
        background-color: gainsboro;
    }
    100% {
        background-color: rgb(255 255 255);
    }
}